{{- /* layouts/partials/inline/menu/walk.html - plain partial to render menus */ -}}
{{- $page := .page -}}
{{- range .menuEntries -}}
{{- $href := (.URL | relURL) -}}
{{- $attrs := dict "href" $href "class" "nav-link" -}}
{{- $class := "nav-item" -}}
{{- if $page.IsMenuCurrent .Menu . -}}
{{- $attrs = merge $attrs (dict "class" "nav-link active" "aria-current" "page") -}}
{{- $class = "nav-item active" -}}
{{- else if $page.HasMenuCurrent .Menu . -}}
{{- $attrs = merge $attrs (dict "class" "nav-link ancestor" "aria-current" "true") -}}
{{- $class = "nav-item ancestor" -}}
{{- end -}}

{{- if .HasChildren -}}
<li class="nav-item dropdown">
  <a {{- range $k, $v :=$attrs -}} {{- with $v -}} {{- printf " %s=%q" $k $v | safeHTMLAttr -}} {{- end -}} {{- end -}}
    class="nav-link dropdown-toggle" id="navbarDropdown-{{ .Name | urlize }}" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">{{ .Name }}</a>

  <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{ .Name | urlize }}">
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .Children) -}}
  </ul>
</li>
{{- else -}}
<li class="{{ $class }}">
  <a {{- range $k, $v :=$attrs -}} {{- with $v -}} {{- printf " %s=%q" $k $v | safeHTMLAttr -}} {{- end -}} {{- end -}}>
    {{ if in .URL "wa.me" }}
    <img src="/images/whatsapp.png" alt="WhatsApp" style="width:22px;height:22px;">
    {{ else }}
    {{ .Name }}
    {{ end }}
  </a>
</li>
{{- end -}}
{{- end -}}